# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/IMG_20260810_164415.png (2).jpeg
/public/logo.png
/public/logo.svg
/public/bgmob.png
/public/Logo-1-2.png
/public/pwa-192x192.png
/public/images/bg_compliance_docs.webp
/public/images/Map-scaled.jpeg
/public/images/1-2.png
/public/favicon.svg
/public/pwa-512x512.png
/public/bglap.png
/public/icons.svg
/public/logo1.png
/src/assets/hero.png
